.app {
    font-family: Roboto;
    height: 100vh;
    max-width: 100%;
    font-size: 1.1em;
    color: white;
    text-align: center;
    h2 {
        text-transform: uppercase;
        font-weight: bold;
        color: #191919;
        margin-bottom: 20px;
    }
    p {
        margin: 10px 0 14px;
    }

    .background {
        position: fixed;
        z-index: -1000;
        width: 100vw;
        height: 100%;
        background-size: 100% 100%;
    }
    header {
        z-index: 1030;
    }
    footer {
        min-height: 130px;
        padding: 15px;
    }
    .content {
        background-color: white;
        color: black;
        text-align: left;
    }
    .page {
        animation-name: fadeIn;
        animation-duration: .3s;
    }
    .panel-primary {
        margin-top: 15px;
    }
}